<div class="container-fluid mt-5" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center fs-4 fw-light sub-heading">Grow Your Business With
        Us</p>
      <div class="row">
        {{! Left side }}
        <div class="col-md-6 col-12 hero-text mt-4">
          <figure><img
              class="img-fluid"
              src="/img/5.svg"
              alt="about.png"
            /></figure>
        </div>

        {{! Right side }}

        <div class="col-md-6 col-12 hero-text mt-5 p-4">
          <h1 class="first-text">WE ARE THE PROFESSIONAL DEVELOPERS</h1>
          <p class="pt-2">Welcome to
            <span class="fw-bold text-primary">NodeDynamic</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eum
            iusto dicta recusandae sed! Provident, et minus iusto excepturi
            atque consequatur!</p>
          <button class="btn btn-primary mt-3">Read More</button>
        </div>

      </div>

    </div>
  </div>
</div>